<!DOCTYPE html>
<html>
	<head>
		<title>Desirable - Artificial Humanity</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/style.css" crossorigin="anonymous">
		<script type="module" defer src="/javascripts/home.js"></script>
	</head>
	<body>
		<div class="p-5">
			<h1>Natural Intelligence Chat Bot</h1>
			<p>
				Begin chatting with natural intelligence
			</p>
		</div>
	</body>
</html>
