<!DOCTYPE html>
<html>
	<head>
		<title>Natural Intelligence Chat Bot</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script defer src="/javascripts/home.js"></script>
	</head>
	<body>
		<h1>Natural Intelligence Chat Bot</h1>
		<p>
			Begin chatting with natural intelligence
		</p>
		<form id="send-form">
			<div>
				<input type="text" name="message" id="message-input">
				<button type="submit">Send</button>
			</div>
		</form>
		<div id="chat-log">

		</div>
	</body>
</html>
