<!DOCTYPE html>
<html>
	<head>
		<title>Natural Intelligence Chat Bot</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script defer src="/javascripts/home.js"></script>
	</head>
	<body>
		<div class="p-5">
			<h1>Natural Intelligence Chat Bot</h1>
			<p>
				Begin chatting with natural intelligence
			</p>
			<div class="container-fluid">
				<form id="send-form" class="row">
					<div class="col-6">
						<div>
							<div>
								<input type="text" name="message" id="message-input">
								<button type="submit">Send</button>
							</div>
						</div>
						<div id="chat-log">

						</div>
					</div>
					<div class="col">
						<div>
							<h3>What is your mood?</h3>
							<p>
								<small>This is important to relay to the robot so it can learn and respond accordingly</small>
							</p>
							<div>
								<div class="form-group">
									<input checked id="mood-neutral" type="radio" name="speaker-mood" value="neutral">
									<label for="mood-neutral">Neutral</label>
								</div>
								<div class="form-group">
									<input id="mood-happy" type="radio" name="speaker-mood" value="happy">
									<label for="mood-happy">Happy</label>
								</div>
								<div class="form-group">
									<input id="mood-sad" type="radio" name="speaker-mood" value="sad">
									<label for="mood-sad">Sad</label>
								</div>
								<div class="form-group">
									<input id="mood-mad" type="radio" name="speaker-mood" value="mad">
									<label for="mood-mad">Mad</label>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-12">
						<h2>Robot's brain stats</h2>
						<hr>
						<div class="row">
							<div class="col">
								<p>
									<strong>Hormone A: </strong><span id="hormone-a-level">0.00%</span>
									<span>- </span><span>Responsible for positive feelings</span>
								</p>
								<p>
									<strong>Hormone B: </strong><span id="hormone-a-level">0.00%</span>
									<span>- </span><span>Responsible for negative feelings</span>
								</p>
								<p>
									<strong>Hormone X: </strong><span id="hormone-a-level">0.00%</span>
									<span>- </span><span>Responsible for feelings of belonging/attraction (affected by A &amp; B)</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
